* {
	box-sizing: border-box;
}


.slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
    border: 5px solid orange;
}



.slides input { display: none; }

.slide-container { 
	display: block; 	
}

.slide {
    top: 0;
    opacity: 0;
    width: 600px;
    height: 410px;
    display: block;
    position: absolute;
    transform: scale(0);
    transition: all .3s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}


input:checked + .slide-container  .slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}


.nav-dots {
    margin-top: 600px;
	border: 2px solid green;
	padding: 10px;
    width: 60%;
    height: 11px;
    display: block;
    margin: 20px auto;
    text-align: center;
}

.nav-dots .nav-dot {
    top: -5px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: salmon;
}




