*, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.container-fluid {
  border:4px solid orange;
  width: 100%;
  margin: auto;
  /*height: 450px;*/
}

.text-wrapper, .footer {
  /*border: 2px solid ;*/
  width: 80%;
  margin: 20px auto;
  height: 164px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.text {
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  padding: 5px;
}

.inside-wrapper{
  border: 2px solid purple;
  position: relative;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  height: 200px;
}
#whatever {
  padding: 5px;
  background-color: green;
  border: 2px solid green;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.images {
  /*border: 2px solid teal;*/
  background-size: 100% 100%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.image-a {
  background-image: url("../img/asahi.png");
}
.image-b {
  background-image: url("../img/fosters.jpg");
}
.image-c {
  background-image: url("../img/tecate.png");
}
.image-d {
  background-image: url("../img/mythos.jpg");
}

.image-e {
  background-image: url("../img/peroni.png");
}
.image-f{
  background-image: url("../img/jelen.jpg");
}

/* Next & previous buttons */
.prev, .next {
  /*border: 4px solid yellow;*/
  cursor: pointer;
  position: absolute;
  top: 50%;
  /*width: auto;*/
  margin-top: -71px;
  padding: 16px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.arrows {
  color: #219FD6;
  font-weight: 500;
  font-size: 58px;
  position: relative;
}
.l {
  position: relative;
  left: -15px;
}

.r {
  position: relative;
  right: -15px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
}

.blue-class {
  color: #219FD6;
}

.footer {
  height: auto;
}

.footer p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}


@media all and (min-width: 992px){
  body {
    background-color: aqua;
  }

  #lightSlider {
    border: 7px solid teal;
  }
}

