.player {
  border: 2px solid orange;
  width:100%;
  height: 500px;
  position: fixed;
}

.player-video {
  border: 6px solid green;
  position: absolute;
  top: 0;
  left: 0;
}

.circles {
  width: 60%;
  /*height: 20px;*/
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numbers {
  border: 2px solid teal;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.numbers div {
  cursor: pointer;
}

.numbers p, .numbers div {
  padding: 5px 15px; 

}



.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
 height: 0;
  overflow: hidden;
  border:4px solid orange;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}









