.small-container {
    width: 90%;
    margin: 0 auto;
    border: 2px solid green;
}

.big-container {
    display: none;
}

#lightSlider {
/*    width: 90% !important;
    height: 300px !important;*/
    border: 2px solid green;
    padding: 0 80px;
}

.img {
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
    border: 1px solid pink;
}
.a {
    background-image: url("img/asahi.png");
}
.b {
    background-image: url("img/tecate.png");
}

.c {
    background-image: url("img/peroni.png");
}

.d {
    background-image: url("img/jelen.jpg");
}

.e {
    background-image: url("img/mythos.jpg");
}

li {
    display: none !important;
}



.lSPrev, .lSNext {
    width: 40px;
    height: 40px;
    border: 2px solid red;
    position: relative;
}
.lSPrev {
    position: relative;
    background-color: green;
    left: 30px;
    top: 100px;
}

.lSNext {
    background-color: red;
}




@media all and (min-width: 992px){
    .small-container {
        display: none;
    }
    .big-container {
        display: block;
        padding: 0 50px 0 100px;
        border: 2px solid orange;
        width: 70%;
        margin: 0 auto;
    }

    .lSAction > .lSPrev {
        display: none;

    }

     .lSNext{
        display: none !important;
     }

}


