* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.line {
	width: 100%;
	height: 8px;
	background-color: lightgreen;
	position: relative;
	z-index: 999;
}
.container {
	width: 100%;
	height: 200px;
	background-color: teal;
/*	position: fixed;
	z-index: 999;*/
}

.navbar-portion {
	width: 100%;
	display: flex;
	flex-direction: row;
	/*border:2px solid salmon;*/
}
.logo {
	width: 40%;
}

.image {
	width: 140px;
	height: 160px;
	position: relative;
	left: 100px;
	background-image: url("jefferson-ribbon.png");
	background-size: 100% 100%;
	z-index: 10;
}

.hidden-menu {
    background: transparent;
	border-top: 10px solid rgba(0,0,0,0.65);
	z-index: 3;
	width: 130px;
	/*height: 240px;*/
	position: absolute;
	top: -55px;
	left: 105px;
	 -webkit-transition: top 1s;
    -moz-transition: top 1s;
    -o-transition: top 1s;
    transition: top 1s; 
}

.hidden-menu ul {
	background-color: rgba(0,0,0,0.65);
	color: white;
	border: 1px solid transparent;
	border:3px solid red;
}
.hidden-menu li {
	border: 2px solid;
	list-style-type: none;
	margin: 20px auto 20px;
	text-align: center;
	font-size: 15px;
}
.hidden-menu ul li:hover {
	font-weight: bold;
	cursor: pointer;
}

.triangles {
	display: flex;
	flex-direction: row;
	/*border-top: 1px solid rgba(0,0,0,0.65);*/

}

#triangle-topleft {
  width: 0;
  height: 0;
  border-top: 20px solid rgba(0,0,0,0.65);
  border-right: 65px solid transparent;
}

 #triangle-topright {
      width: 0;
      height: 0;
      border-top: 20px solid rgba(0,0,0,0.65);
      border-left: 65px solid transparent;
    }



.arrow-box {
	/*border: 2px solid yellow;*/
	width: 40px;
	height: 30px;
	margin: 40px auto 0;

}

.arrow {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid black;
  border-bottom: 0;
  width: 0;
  height: 0;
  display: block;
  -webkit-transition:border-top 500ms ease-out;
    -moz-transition: border-top 500ms ease-out;
    -o-transition: border-top 500ms ease-out;
    transition: border-top 500ms ease-out;

    -webkit-transition:border-bottom 500ms ease-out;
    -moz-transition: border-bottom 500ms ease-out;
    -o-transition: border-bottom 500ms ease-out;
    transition: border-bottom 500ms ease-out;  
}


.hidden-menu:hover {
	top: 120px;
}
.hidden-menu:hover .arrow {
	border-top: 0;
	border-bottom: 20px solid black;
}

.navbar-wrapper {
	background-color: gold;
	width: 60%;
	display: flex;
	justify-content: flex-start;
}

.navbar {
	/*border: 2px solid tomato;*/
	width: 90%;
}

.navbar ul {
	/*border: 2px solid teal;*/
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.navbar ul li {
	margin-left: 30px;
	list-style-type: none;
	/*border: 2px solid coral;*/
	margin-top: 10px;
}

.navbar ul li a {
	padding: 10px;
	padding-right: 25px;	
	border:  1px solid white;


	/*background-color: lightblue;*/
}

.navbar ul li a:hover {
	background-color: tomato;
}





